#title{
	text-align: center;
	font-size: 250%;
	font-family: serif;
	line-height: 100%;
	margin: 40px;
}

#mainimage{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	/*margin: 10px 15%;*/
}



#calendarContent{
	margin: 20px auto;
	width: 850px;
	border-spacing: 20px;
}
#calendarContent h1{
	text-align: center;
	line-height: 130%;
}
#calendarContent .tablecell{
	width: 400px;
}

#xtraYears {
	margin: 20px auto;
	width: 850px;
	line-height: 200%;
	/*text-align: center;*/

}



