
#today {

	font-size: 200%;
	line-height: 150%;
	text-align: center;
	padding-top: 30px;
}

#title{
	text-align: center;
	font-size: 250%;
	font-family: serif;
	margin: 50px;
}


#mainimage{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	/*margin: 10px 15%;*/
}